.submit{
	width: 100px;
	height: 100px;
}

#imgCh1{
	width: 100px;
	height: 100px;
}

div.modal-body input[type=radio]{
    display: none;
}

div.modal-body label img {
	width: 50px;
	height: 50px;
}

.bg-gray {
	background-color: #9ea1a8;
}

.imgDiv .applianceOptions {
	display: none;
}

.imgDiv img:hover .applianceOptions {
	display: inline;
}

#applianceImg:hover img {
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.imgDiv img{
	-webkit-filter: 0.2s ease;
	transition: 0.2s ease;
}

/* .imgDiv img:hover {
	-webkit-filter: blur(10px);
	filter: blur(10px);
} */

.applianceOptions i{
	color: white;
	position: fixed;
	font-size: 30px;
	margin-top: -55px;
}

#edit{
	margin-left: -60px;
}

#delete{
	margin-right: -20px;
}