.modalEditApplianceDialog {
    display: none;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalEditApplianceDialog div {
    width: 350px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}   

.modalEditAppliance-content{
    background: none !important;
}



.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }



/*Modal content*/
.modalEditAppliance-content label{
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    margin-top: 5%;
    margin-left: 5%;
}

.modalEditAppliance-content input{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
}


.inputs img{
    width: 50px;
    height: 50px;
}

.btnEditAppliance{
    width: 50% !important;
    margin-left: 25% !important;
}